
.slide-container {
    width: 100%;
    height: 500px;
    background: #000;
    position: relative;
    overflow: hidden;
}

.sliding-box {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    background: #fff;
    overflow: hidden;

}

    .sliding-box > section {
        width: 100%;
        /*height: 300px;*/
        position: relative;
    }



.sect-07 {
    background-image: url('../img/bg.jpg');
    background-repeat: no-repeat;
    background-position: center top;
    background-size: cover;
}

