@font-face {
	font-family: proximanovacond-light;
	src: url('../font/proximanovacond-light.otf') format('opentype');
}

@font-face {
    font-family: proximanova-semibold;
    src: url('../font/proximanova-semibold.otf') format('opentype');
}

@font-face {
    font-family: proximanova-bold;
    src: url('../font/proximanova-bold.otf') format('opentype');
}

@font-face {
    font-family: proximanova-regular;
    src: url('../font/proximanova-regular.otf') format('opentype');
}

@font-face {
    font-family: proximanova-light;
    src: url('../font/proximanova-light.otf') format('opentype');
}

/*NEWnew*/
body{
    background-image: url('../img/bg.jpg');
    background-repeat: no-repeat;
    background-position: center top;
    background-size: cover;
}
.fullheight{
    height:100%;
}
/*counter*/
#counter {
    width: 390px;
    height: 100px;
    font-size:14px;
    color: white;
    /*float: right;*/
}
.countDays, .countHours, .countMinutes, .countSeconds {
    float: left;
    width: 70px;
    height: 138px;
    font-family: proximanova-light;
}

.points {
    float: left;
    width: 34px;
    margin: 0;
    margin-top: 32px;
    font-family: proximanova-regular;
    font-size: 3.143em;
    font-weight: bold;
    text-align: center;
    line-height: 31px;
    text-shadow: none;
}

.position {
    position: relative;
    float: left;
    width: 35px;
    height: 72px;
    margin: 8px 0 0 0;
}

.digit {
    position: absolute;
        font-size: 4.286em;
    top: 0;
    left: 0;
}

.boxName {
    float: left;
    width: 67px;
    font-size: 1.143em;
    color: white;
    font-family: proximanova-regular;
}

.Hours {
    margin-left: 5px;
}

.Seconds {
    margin-left: 2px;
}



/*Main Background*/

.slide-container {
    width: 100%;
    height: 100%;
    position: relative;
}

.sliding-box {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    background: #fff;
}

    .sliding-box > section {
        width: 100%;
        height: 100%;
        position: relative;
    }
/*-----------------logo--------------*/
.navbar-brand {
    font-family: proximanova-bold;
    text-shadow: none !important;
    font-size: 24px !important;
    color: white;
    padding: 4% !important;
}

div.timer_cover {
    float: right !important;
    background-color: rgba(0,145,199,0.6);
}

div.form_cover {
    float: right !important;
    background-color: rgba(0,0,0,0.6);
    clear: both;
}

.tagline {
    color: white;
    font-family: proximanova-regular;
    font-size: 2.571em;
}

.soon {
    color: white;
    font-family: proximanova-light;
    font-size: 2em;
}
/*mailChimp*/
.first_Line{
    font-family: proximanova-semibold;
}
.second_Line{
    font-family:proximanovacond-light;
}
.countDays .position:first-child span{
        margin-left: 13px;
}
/*Begin MailChimp Signup Form*/
        #mc_embed_signup {
            clear: left;
            font: 14px Helvetica,Arial,sans-serif;
            width:100%;            
        }

        #mc-embedded-subscribe {
            background-color: #0091c7 !important;
            border-radius: 8px!important;
        }
        #mc_embed_signup .mc-field-group input{
                 border-radius: 8px;
                 display: block;
                 width: 100%;
                 height:42px;
                 padding: 8px 0;
                 text-indent: 2%;
                 border: 1px solid #999;
            -webkit-appearance: none;
        }
        #mc_embed_signup input:focus {
    border-color: #999 !important;
}
        #mc_embed_signup .button{
            width:90px!important;
            padding:0!important;
                clear: both;
    background-color: #aaa;
    border: 0 none;
    border-radius: 4px;
    color: #FFFFFF;
    cursor: pointer;
    font-size: 15px;
    font-weight: bold;
    height: 40px;
    line-height: 32px;
    text-align: center;
    text-decoration: none;
    vertical-align: top;
    white-space: nowrap;
}
        
        #mc_embed_signup_scroll h2{
            color:white;
            font-size:20px;
            line-height:24px;
            letter-spacing:0;
        }
        /* Add your own MailChimp form style overrides in your site stylesheet or in this style block.
        We recommend moving this block and the preceding CSS link to the HEAD of your HTML file. */

        html,body,.fullheight {height: 100%;}
@media(min-width:320px){
/*html,body{height: 860px;}*/
div.timer_cover {height: auto !important; padding-left:0;padding:10px 0;}
div.form_cover{height: auto !important;}
.mobcenter{margin:0 auto;width:90%;}
#mc_embed_signup {margin:20px 0}
#mc_embed_signup .button{margin:0 auto;display:block;}
/*counter*/
#counter {width: 240px;font-size:7px;margin:0 auto;}
.countDays, .countHours, .countMinutes, .countSeconds {width: 40px;height: 62px;}
.points {width: 19px;margin-top: 13px;}
.position {width: 20px;height: 40px;}
.countDays .position:first-child span{margin-left: 6px;}
div.countDays span.Days {margin-left:6px;}
/*counter -end*/
.navbar-brand {height: 65px;}
.pading-63-20{padding:0 20px}

}
@media(min-width:600px){
.mobcenter{margin:0 auto;width:65%;}
/*counter*/
#counter {width: 390px;font-size:14px; margin:0;}
.countDays, .countHours, .countMinutes, .countSeconds {width: 70px;height: 138px;}
.points {width: 34px;margin-top: 32px;}
.position {width: 35px;height: 72px;}
.countDays .position:first-child span{margin-left: 13px;}
div.countDays span.Days {margin-left: 19px;}
}
@media(min-width:993px){
    /*html,body{height: 100%;}*/
div.timer_cover {height: 65% !important;padding:62px 0 0 7.7%;}
div.form_cover{height: 35% !important;}
.mobcenter{margin:0;width:auto;}
#mc_embed_signup {margin:62px 0 0 0;}
#mc_embed_signup .button{margin:0 18px;display:inline-block} 
.navbar-brand {height: 120px;}

.pading-63-20{padding:0 63px;}

}

/*@media(min-height:801px){    
html,body,.fullheight {height: 100%!important;}
}*/